# cscope out files
cscope.*

# Object files
*.o
*.obj

# python objectes
.pyc

# CLion project files 
.idea/**
bin
lib
build
cmake-build-debug

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
